extends layout
block head 
    link(rel="stylesheet", href="/style.css")
block body
    .container
        .email__connect
            form(method="GET" action="/send_email").email__container
                h2 ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
                .inp__container 
                    input(type="email" placeholder="Ваше e-mail" name="email" required)
                    input(type="submit", value="ПОДПИСАТЬСЯ")
        .popup
            .popup__content
                .popup__tabs
                    each i in catalogue_tabs
                        a(href=i.url).popup__tab #{i.name}
                .popup__container 
                    p Пока ничего нету
    .wrapper
        .catalogue
            .catalogue__sideblocks
                form.sideblocks__filters(method="GET" action="/catalogue")
                    .filters__price
                        .price__text 
                            div 
                                b Цена
                            b
                                output( for="price").price-output от 0 ₽
                        .price__range
                            input(type="range" min="0" max="30000" step="100" value="0" name="max_price_product")
                    .filters__time
                        div 
                            b Длительность
                        .checkbox
                            label(for="vremya_igry_product") От 20 мин
                            input(type="radio" name="vremya_igry_product" value="20")
                        .checkbox
                            label(for="vremya_igry_product") От 60 мин
                            input(type="radio" name="vremya_igry_product" value="60")
                        .checkbox
                            label(for="vremya_igry_product") От 120 мин 
                            input(type="radio" name="vremya_igry_product" value="120")
                    .filters__age
                        div 
                            b Возраст
                        .checkbox
                            label(for="vremya_igry_product") 6+
                            input(type="radio" name="vozrast_ogranich_product" value="6")
                        .checkbox
                            label(for="vremya_igry_product") 14+ 
                            input(type="radio" name="vozrast_ogranich_product" value="14")
                        .checkbox
                            label(for="vremya_igry_product") 18+ 
                            input(type="radio" name="vozrast_ogranich_product" value="18")
                    .filters__people
                        div 
                            b Кол-во игроков
                        .checkbox
                            label(for="vremya_igry_product") от 1
                            input(type="radio" name="min_igrok_product" value="1")
                        .checkbox
                            label(for="vremya_igry_product") от 4 
                            input(type="radio" name="min_igrok_product" value="4")
                        .checkbox
                            label(for="vremya_igry_product") от 8
                            input(type="radio" name="min_igrok_product" value="8")
                    .filters__checkbox
                        .checkbox
                            label(for="new") Новинка
                            input(type="checkbox", name="new")
                        .checkbox
                            label(for="sale") Со скидкой
                            input(type="checkbox", name="sale")
                        .checkbox
                            label(for="vnalichii") В наличии
                            input(type="checkbox", name="vnalichii")
                    .filters__submit
                        input(type="submit", name="submit" value="Поиск")
                .sideblocks__daygame
                    h2 Игра дня
                    img(src='/images/' + daygame.Img_Product alt=daygame.Name_Product).daygame__img
                    p.daygame__title #{daygame.Name_Product}
                    p #{daygame.Opisanie_Product} 
                    .card__info.daygame__info
                        .age__block 
                            .age #{daygame.Vozrast_Ogranich_Product}+ 
                        .people__block
                            img(src='/images/mainIcons/people.svg' alt=daygame.Name_Product).card__img__src
                            .people #{daygame.Min_Igrok_Product}+ 
                        .time__block 
                            img(src='/images/mainIcons/time.svg' alt=daygame.Name_Product).card__img__src
                            .time #{daygame.Vremya_Igri_Product}+
                    a.daygame__btn Подробнее
            .catalogue__container
                .catalogue__products
                    each i in products
                        .card
                            .card__img
                                img(src='/images/'+i.image_product alt=i.name_product).card__img__src
                            p.card__title #{i.name_product} 
                            h2.card__price ₽ #{i.price_product} 
                            .card__button
                                a(href='/catalogue/product/' + i.id_product).button__content Купить 
                                .button__icon  
                                    svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor") 
                                        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z") 
                            .card__info 
                                .age__block 
                                    .age #{i.vozrast_ogranich_product}+ 
                                .people__block
                                    img(src='/images/mainIcons/people.svg' alt=i.name_product).card__img__src
                                    .people #{i.min_igrok_product}+ 
                                .time__block 
                                    img(src='/images/mainIcons/time.svg' alt=i.Name_Product).card__img__src
                                    .time #{i.vremya_igry_product}+
                .pagination
                    - for(var x = 1; x < 7; x++)
                        if x == page
                            a(href='/catalogue?p='+x).pagination__tab.active__tab #{x}
                        else
                            a(href='/catalogue?p='+x).pagination__tab #{x}
block scripts