extends layout
block head 
    link(rel="stylesheet", href="/style.css")
block body
    .news
        .news__container 
            h1 БЕСПЛАТНАЯ ДОСТАВКА ОТ 5000₽
            p Сделайте заказ и получите подарок!
    .wrapper
        .product
            h1 ХИТ ПРОДАЖ
            .product__container
                each i in products
                    .card
                        .card__img
                            img(src='/images/'+i.image_product alt=i.name_product).card__img__src
                        p.card__title #{i.name_product} 
                        h2.card__price ₽ #{i.price_product} 
                        .card__button
                            a(href='/catalogue/product/' + i.id_product).button__content Купить 
                            .button__icon  
                                svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor") 
                                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z") 
                        .card__info 
                            if i.vozrast_ogranich_product
                                .age__block 
                                    .age #{i.vozrast_ogranich_product}+ 
                            if i.min_igrok_product
                                .people__block
                                    img(src='/images/mainIcons/people.svg' alt=i.name_product).card__img__src
                                    .people #{i.min_igrok_product}+ 
                            if i.vremya_igry_product
                                .time__block 
                                    img(src='/images/mainIcons/time.svg' alt=i.Name_Product).card__img__src
                                    .time #{i.vremya_igry_product}+
            a(href="/catalogue/top").product__top__btn.showmore__btn ПОКАЗАТЬ ВСЕ
    .email__connect
        form(method="GET" action="/send_email").email__container
            h2 ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
            .inp__container 
                input(type="email" placeholder="Ваше e-mail" name="email" required)
                input(type="submit", value="ПОДПИСАТЬСЯ")
    .wrapper
        .product
            h1 НОВИНКИ
            .product__container
                each i in newproduct
                    .card
                        .card__img
                            img(src='/images/'+i.image_product alt=i.name_product).card__img__src
                        p.card__title #{i.name_product} 
                        h2.card__price ₽ #{i.price_product} 
                        .card__button
                            a(href='/catalogue/product/' + i.id_product).button__content Купить 
                            .button__icon  
                                svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor") 
                                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z") 
                        .card__info 
                            if i.vozrast_ogranich_product
                                .age__block 
                                    .age #{i.vozrast_ogranich_product}+ 
                            if i.min_igrok_product
                                .people__block
                                    img(src='/images/mainIcons/people.svg' alt=i.name_product).card__img__src
                                    .people #{i.min_igrok_product}+ 
                            if i.vremya_igry_product
                                .time__block 
                                    img(src='/images/mainIcons/time.svg' alt=i.Name_Product).card__img__src
                                    .time #{i.vremya_igry_product}+
            a(href="/catalogue/new").product__new__btn.showmore__btn ВСЕ НОВИНКИ
block scripts